div {
    padding: 10px;
}

button {
    margin: 25px;
    width: 15%;
    border-radius: 5%;
    background-color: #00a884;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

svg {
    width: 32px;
    height: 32px;
    margin-top: 10px;
}

#whatsapp {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

a {
    width: 15%;
    height: 65px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #00a884;
    margin: 25px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    flex-direction: column;
}