div {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 20%;
    height: 20%;
    margin-top: 5%;
}

p {
    margin-top: 40px;
    font-size: 25px;
}